<section class="snap-start h-screen flex flex-col justify-center items-center 
">
    <div class="bg-violet-400 flex flex-col justify-center items-center p-24">
        <h1 class="font-bold text-2xl">Formation</h1>
    <div class="flex">
        <div class="m-8 h-24 w-50 ">
            <div *ngIf="!lycee" (click)="lyceeFlip()">
                <img class="w-32 hover:animate-bounce" src="/stcricq.jpg" alt="Lycée StCricq">
                <h1>Lycée Saint Cricq </h1>
            </div>
            <div class="bg-blue-500 p-4" *ngIf="lycee" (click)="lyceeFlip()">
                <p class="text-center">Lycée St Cricq</p>
                <p class="text-center">Bac S science de l'ingénieur</p>
                <p class="text-center">Option mathématique</p>
                <p class="text-center">Découverte de l'informatique</p>
                <p class="text-center">Projet: Skate électrique</p>
            </div>
        </div>
       

        <div class="m-8 h-24 w-50">
            <div *ngIf="!cy" (click)="cyFlip()">
                <img class="w-32 hover:animate-bounce" src="/cy.png" alt="Cy Tech">
                <h1>Cy Tech</h1>
            </div>
            <div class="bg-yellow-400 p-4" *ngIf="cy" (click)="cyFlip()">
                <p class="text-center">Cy Tech</p>
                <p class="text-center">Cycle Ingénieur en master génie informatique</p>
                <p class="text-center">Ingénieurie du cloud computing</p>
                <p class="text-center"> Alternance à SafranHE</p>
                <p class="text-center">Projets: Voir plus bas</p>
    
            </div>
        </div>

        <div class="m-8 h-24 w-50">
            <div *ngIf="!craiova" (click)="craiovaFlip()">
                <img class="w-32 hover:animate-bounce" src="/craiova.png" alt="Craiova">
                <h1>Erasmus à Craiova</h1>

            </div>
            <div class="bg-red-700 p-4" *ngIf="craiova" (click)="craiovaFlip()">
                <p class="text-center">Université de Craiova</p>
                <p class="text-center">Semestre d'échange dans le cadre d'un Erasmus</p>
                <p class="text-center">Developpement web, cybersecurité, IA</p>
                <p class="text-center">Generateur de mots de passes, essaies</p>
            </div>
        </div>
    </div>
    </div>
</section>