<section
    class="snap-start h-screen
    ">
    <div class="bg-violet-200">
        <h2>Alternance SHE</h2>
        <h3>DevOps</h3>
        <p>Construction et améliorations de sites web. Maintenance de server</p>
    </div>
    <div class="bg-pink-200">
        <h2>Stage SHE</h2>
        <p>Optimisation des moyens et usages d'impression</p>
    </div>
    <div class="bg-red-200">
        <h2>Caissier Auchan</h2>
        <h3>Octobre 2022 - Janvier 2024</h3>
        <p>Travail d'équipe, relation client, prise de décisions</p>
    </div>
    <div class="bg-green-200">
        <h2>Interime</h2>
        <h2>Produits capilaire en laboratoire, fruits et légumes à Carrefour, alcools à leclerc</h2>
    </div>

</section>
