<section
    class="  snap-start h-screen
    flex flex-col justify-center items-center "
>
    <h1 class="font-bold text-2 xl">Compétences supplémentaires</h1>
    <div 
        class="animate-scroll w-max flex flex-col justify-center items-center "
    >
        <img 
            class="w-28 animate-bounce"
            src="/queen.png" 
            alt="Anglais B2">
        <img 
            class="w-24"
            src="/dacia.jpg" 
            alt="Dacia Sandero 2008 Diesel DCI">
            <h2 class="font-bold text-l">Permis B et anglais B2</h2>

    </div>
</section>