<section
    class="  snap-start h-screen"
>
    <div>
        <a 
            
            href="https://www.linkedin.com/in/j%C3%A9r%C3%A9mi-lioger-bun-92a83b242?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BcQG%2FX2LxQre7tprKCCgNew%3D%3D">
            <img 
                class="bg-white p-6 w-14"
                src="/linkdin.png" alt="linkdin">
        </a>
    </div>
    <div>
        <a 
            
            href="jliogerbun@gmail.com">
            <img 
                class="bg-white p-6 w-14"
                src="/mail.png" alt="linkdin">
        </a>
    </div>
</section>