<section class="snap-start h-screen  flex-grow  p-4 ">
   
<div class="mt-28 flex flex-col justify-center items-center bg-purple-600 p-6 border-8 border-black ">
    
  <h1 class="text-yellow-500 text-6xl uppercase font-bold">Clickez sur l'étoile</h1>
  <div (click)="displayPicture()">
   
    <img *ngIf="!displayed"
    class=" animate-rotate-y w-32 h-32 text-yellow-400" src="/star.png" alt="">
    <div
      *ngIf="displayed" 
      class="flex"
    >
      <img 
      class="w-24"
      src="/unnamed.jpg" 
      alt="pp"
      >
      <div
        class="bg-purple-600"
      >
        <h1>Jérémi LIOGER--BUN</h1>
        <h2>Etudiant à CY TECH & Alternant à SAFRAN HELICOPTER ENGINES</h2>
    
      </div>
    </div>


  </div>
  <h2 class="bg-yellow-400 p-4 font-bold m-2 ">Beaucoup d'élément de ce site sont intéractifs. Attention de ne rien louper ;)</h2>
  
  </div>
</section>
