<section
    class="  snap-start h-screen
     flex justify-center items-center "
>
<h1>Competence:</h1>border-8 border-black

    <div 
        class=" flex "
    >
        <ul>
            <li *ngFor="let comp of displayedCompetences">
              {{ comp }}
            </li>
          </ul>
          <button class="bg-slate-400 border-4 border-black p-3 rounded-full" *ngIf="!competenceFull" (click)="addCompetence()">+</button>

    </div>
    <div 
        
    >
        <h1>Defaut</h1>
        <button class="bg-slate-400 border-4 border-black p-3 rounded-full" (click)="defaut()">+</button>
        <div class="bg-black p-2" *ngIf="default">
            <h2 class="text-red-600 ">Defauts non trouvés</h2>
            <img src="/clin.gif" alt="">
        </div>
    </div>
</section>