<section class="  snap-start h-screen flex justify-center items-center
">
    <div class="">
        <div>
            <div>
                <div *ngIf="!result" class="flex">
                    <img class="w-8" src="/backpoker.png" alt="">
                    <img class="w-8" src="/backpoker.png" alt="">
                </div>
                <img *ngIf="result" class="w-16" src="/looserPoker.png" alt="">
            </div>

            <div>
                <img class="w-32" src="/river.jpeg" alt="">
            </div>
            <div>
                <img class="w-16" src="/pairK.png" alt="">
            </div>



        </div>
        <div>
            <div *ngIf="!result">
                <button (click)="changeResult('loose')" class="bg-red-600 p-2 mx-2">fold</button>
                <button (click)="changeResult('win')" class="bg-red-600 p-2 mx-2">Check</button>
                <button (click)="changeResult('win')" class="bg-red-600 p-2 mx-2">raise</button>
            </div>
            <div>
                {{result}}
                {{redirection}}
            </div>
        </div>
    </div>

</section>